{% extends 'base.html' %} {% block content %}

<div class="container">
<h1> {{ personnel.name }} </h1>
</div>

<div class="container" >
<h4>Movies:</h4>
  <div id="flex-wrap"> 
    {% for movie in personnel.movies.all %}
    <div>
    <h4>{{ movie.title }}</h4>
    <form action="{% url 'unassoc_movie' personnel.id movie.id %}" method="POST">
      {% csrf_token %}
      <button type="submit" class="btn-large grey darken-3">Remove</button>
    </form>
  </div>
    {% endfor %}
  </div>
  <br>

  <h4>Add a Movie to {{ personnel.name }}'s Credits:</h4>


  
<ul class="collapsible grey darken-3">
  <li>
    <div class="collapsible-header grey darken-3">Add a Movie<i class="material-icons right">arrow_drop_down</i></div>
    <div class="collapsible-body grey darken-3">
      {% if available_movies.count %}
    {% for movie in available_movies %}</h4>
    <br>
    <div><h4>{{ movie.title }}</h4>
    <form action="{% url 'assoc_movie' personnel.id movie.id %}" method="POST">
      {% csrf_token %}
      <button type="submit" class="btn-large grey darken-4">Add</button>
    </form>
    </div>
    {% endfor %}
    {% endif %}
    </div>
  </li>
</ul>
</div>
</div>

<div class="container">
<h3>Opinions</h3>
{% if personnel.opinion_set.count %}
{% for opinion in personnel.opinion_set.all %}
    <a href="{% url 'opinion_detail' opinion.id %}"></a>
      <div class="card">
        <div class="card-content grey darken-3">
          <span class="card-title grey darken-3">{{ opinion.movie }}</span>
          <p>Opinion: {{ opinion.tldr }}</p>
        </div>
      </div>
    </a>
  </div>
{% endfor %}
{% endif %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);
  });

</script>

{% endblock %}