{% extends 'base.html' %} 

{% block content %}
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br>
      <br>
      <h1 class="header center grey-text text-lighten-5">How to use Unpopular Opinions</h1>
      <div class="row center">
        <h5 class="header col s12 light grey-text text-lighten-5">At Unpopular Opinions we let users post their unpopular opinions about sci-fi shows and movies, and invites the app's community to read and respond to these opinions.</h5>
      </div>
      <div class="row center">
        <a href="{% url 'movies_create' %}" class="waves-effect waves-light btn-large grey darken-4">Create a Movie</a>
      </div>
    </div>
    <div class="parallax">
      <img src="https://i.imgur.com/w6MuwDI.jpg" alt="blue galaxy" style="transform: translate3d(-50%, 250.215px, 50px); opacity: 1; height: 1200px;">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center">
          <i class="material-icons">add_box</i>
        </h2>
        <h5 class="center">Add posts to our page</h5>
        <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center">
          <i class="material-icons">comment</i>
        </h2>
        <h5 class="center">Comment on other posts and join the discussion</h5>
        <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center">
          <i class="material-icons">person</i>
        </h2>
        <h5 class="center">Sign Up and join the community</h5>
        <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems);
    console.log(elems)
  });
  </script>
  {% endblock %}