{% extends 'base.html' %}

{% block content %}
<div class="container">
  {% if object %}
    <h1>Edit <span class="teal-text">{{object.name}}</span></h1>
  {% else %}
    <h1>Add Opinion</h1>
  {% endif %}

  <form action="{% url 'add_opinion' %}" method="POST" class="grey darken-4">

    {% csrf_token %}
    <table class="grey darken-4">
      {{ form.as_table }}
    </table>
    <br>
    <input type="submit" value="Submit" class="btn large grey darken-4">
  </form>
</div>
<script>
    const selectEl1 = document.getElementById('id_person');
    M.FormSelect.init(selectEl1);
    const selectEl2 = document.getElementById('id_movie');
    M.FormSelect.init(selectEl2);
    const selectEl3 = document.getElementById('id_person_role');
    M.FormSelect.init(selectEl3);
</script>
{% endblock %}