{% extends 'base.html' %}

{% block content %}
<div class="container grey darken-4">
  {% if object %}
    <h1>Edit <span class="teal-text">{{object.name}}</span></h1>
  {% else %}
    <h1>Add Opinion</h1>
  {% endif %}

  {% if object %}
    <form action="" method="POST" class="grey darken-4">
  {% else %}
    <form action="{% url 'add_opinion' %}" method="POST" class="grey darken-4">
    {% endif %}
      {% csrf_token %}
    <table class="grey darken-4">
      {{ form.as_table }}
    </table>
    <br>
    <input type="submit" value="Submit" class="btn large grey darken-4">
  </form>
</div>
<script>
    const selectEl = document.getElementById('id_movie');
    M.FormSelect.init(selectEl);
</script>
{% endblock %}