{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Unpopular Opinions: Sci-Fi Edition</title>
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <header class="navbar-fixed grey darken-4">
    
    


    <ul id="dropdown1" class="dropdown-content grey darken-4">
      <li><a href="{% url 'opinion' %}" class="grey-text text-lighten-5">Opinions</a></li>
      <li><a href="{% url 'opinion_type' %}" class="grey-text text-lighten-5">Add an Opinion</a></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content grey darken-4">
      <li><a href="{% url 'movies' %}" class="grey-text text-lighten-5">Movies</a></li>
      <li><a href="{% url 'movies_create' %}" class="grey-text text-lighten-5">Add a Movie</a></li>
    </ul>
    <ul id="dropdown3" class="dropdown-content grey darken-4">
      <li><a href="{% url 'personnel' %}" class="grey-text text-lighten-5">Personnel</a></li>
      <li><a href="{% url 'personnel_create' %}" class="grey-text text-lighten-5">Add Cast and Crew</a></li>
    </ul>
    <ul id="dropdown4" class="dropdown-content grey darken-4">
      <li><a href="{% url 'logout' %}" class="grey-text text-lighten-5">Sign Out</a></li>
    </ul>
    <nav class="grey darken-4">
      <div class="nav-wrapper container grey darken-4">
        <ul>
          <li>
            <a
              href="{% url 'home' %}" class="left brand-logo">&nbsp;&nbsp;Unpopular Opinions</a>
          </li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'about' %}">About</a></li>
          {% if user.is_authenticated %}
          <li><a class="dropdown-trigger grey darken-4" href="#!" data-target="dropdown1">Opinions<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a class="dropdown-trigger grey darken-4" href="#!" data-target="dropdown2">Movies<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a class="dropdown-trigger grey darken-4" href="#!" data-target="dropdown3">Personnel<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a class="dropdown-trigger grey darken-4" href="#!" data-target="dropdown4">{{ user }}<i class="material-icons right">arrow_drop_down</i></a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Log In</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
        </ul>
      </div>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems);
  });
      </script>
    </nav>





  </header>
  <main>
    {% block content %} 
    {% endblock %}
  </main>
  <footer class="page-footer grey darken-4">
    <div class="right">All Rights Reserved, &copy; {% now 'Y' %} Unpopular Opinions &nbsp;</div>
  </footer>
</body>
</html>