{% extends 'base.html' %} 

{% block content %}

  
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br>
        <br>
        <h1 class="header center grey-text text-lighten-5">Unpopular Opinions: Sci-Fi Edition</h1>
        <br>
        <div class="row center">
          <h5 class="header col s12 light grey-text text-lighten-5">Its Mission: To explore strange new thoughts; to seek out new perspectives and new conversations; to boldly voice what no man has voiced before.</h5>
        </div>
        <br>
        <div class="row center">
          <a href="{% url 'opinion' %}" class="waves-effect waves-light btn-large grey darken-4">Explore</a>
          <a href="{% url 'signup' %}" class="waves-effect waves-light btn-large grey darken-4">Sign Up</a>
        </div>
        <br>
      </div>
      <div class="parallax">
        <img src="https://i.imgur.com/06R46DU.jpg" alt="blue galaxy" style="transform: translate3d(-50%, 250.215px, 50px); opacity: 1;">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center">
            <i class="material-icons">search</i>
          </h2>
          <h5 class="center">Browse Opinions</h5>
          
          <p class="center">Wondering if anyone has had the same crazy thoughts as you? Interested in seeing the broad range of perspectives out there and expanding your mind? Maxed out the conversations about your favorite scifi movies on all the conventional platforms? Come browse our community's opinion pages and find what you're looking for.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center">
            <i class="material-icons">add_box</i>
          </h2>
          <h5 class="center">Add Your Opinion</h5>
          <p class="center">See something no one else sees? Have a theory and want to gauge the response to it? Know you're right, but can't find the soapbox you need? Sign up to add your conspiracy theories, your diatribes, and your love for the movies that got panned by everyone (it's the next cult classic!) to a forum where people actually go to read them.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center">
            <i class="material-icons">comment</i>
          </h2>
          <h5 class="center">Join The Discussion</h5>
          <p class="center">Read an opinion that finally gets it right? Show it some love. Read one so bad that it's not worth the server space it's occupying? Let 'em know! But, you know, nicely (it's the internet, y'all know how to behave). Find yourself opening up to new ways of thinking? Have questions? Whatever it is, opinion authors would appreciate your engagement.</p>
          
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br>
        <br>
        <h1 class="header center grey-text text-lighten-5">Join the Conversation</h1>
        <div class="row center">
          <a href="{% url 'opinion' %}" class="waves-effect waves-light btn-large grey darken-4">View Posts!</a>
        </div>
      </div>
      <div class="parallax">
        <img src="https://i.imgur.com/QwWEY1G.jpg" alt="red galaxy" style="transform: translate3d(-50%, 222.205px, 0px); opacity: 1;">
      </div>
    </div>
  </div>

  <script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems);
    console.log(elems)
  });
  </script>
{% endblock %}