{% extends 'base.html' %} {% block content %}
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br>
      <br>
      <h1 class="header center grey-text text-lighten-5">All Personnel</h1>
      <div class="row center">
        <h5 class="header col s12 light grey-text text-lighten-5">A website for you to share your unpopular or underrepresented opinions!</h5>
      </div>
      <div class="row center">
        <a href="{% url 'opinion_type' %}" class="waves-effect waves-light btn-large grey darken-4">Make a post!</a>
      </div>
    </div>
    <div class="parallax">
      <img src="https://i.imgur.com/FRsJZ3C.jpg" alt="futuristic pathway" style="transform: translate3d(-50%, 250.215px, 50px); opacity: 1; width: fit-content;">
    </div>
  </div>
</div>

<br>
<div class="container">
  <form action="{% url 'personnel_search' %}" method="get">
    {% csrf_token %}
    <input type="text" name="personnelQuery" placeholder="Search" aria-label="search">
    <button class="btn-large grey darken-4" type="submit">Search</button>
  </form>
  </div>
  <br>
{% for personnel in personnel %}
<a href="{% url 'personnel_detail' personnel.id %}">

<div class="container">
  <div class="card grey darken-3">
    <div class="card-content ">
      <span class="card-title">{{ personnel.name }}</span>
      {% if personnel.opinion_set.count %}
      <p>{{ personnel.opinion_set.count }} Opinions in {{ personnel.movies.count }} Movies</p>
      {% else %}
      <p>No Opinions Yet</p>
      {% endif %}
    </div>
  </div>
</div>
</a>
{% endfor %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems);
    console.log(elems)
  });
  </script>
  {% endblock %}