{% extends 'base.html' %} {% block content %}

<div class="container">
  <h1 class="center">Opinion: {{ opinion.tldr }} </h1>
  {% if opinion.personnel %}
  <h3>{{ opinion.personnel }}</h3>
  {% endif %}
  </div>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br>
        <br>
        <h1 class="header center grey-text text-lighten-5">Home</h1>
        <div class="row center">
          <h5 class="header col s12 light grey-text text-lighten-5">A website for you to share your unpopular or underrepresented opinions!</h5>
        </div>
        <div class="row center">
          <a href="{% url 'about' %}" class="waves-effect waves-light btn-large grey darken-4">Get Started!</a>
        </div>
      </div>
      <div class="parallax">
        <img src="https://i.imgur.com/06R46DU.jpg" alt="blue galaxy" style="transform: translate3d(-50%, 250.215px, 50px); opacity: 1;">
      </div>
    </div>
  </div>
  <div class="container">
  <h3>{{ opinion.movie}}</h3>
  
  <div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-content grey darken-3">
          <p>{{ opinion.content }}</p>
          <p>Date: {{ opinion.date }}</p>
          <!-- Possibility: {% if opinion.recent_edit %} -->
          <!-- <p>Edited: {{ opinion.recent_edit }}</p> -->
          <!-- {% endif %} -->

      </div>
    </div>
  </div>
  
</div>

<!-- IS THERE A WAY TO ADAPT THIS TO SAY NO COMMENTS YET:
  {% if finch.seen_today %}
  <div class="card-panel teal-text center-align">
    Nice! You saw a {{finch.name}} today.
  </div>
  {% else %}
  <div class="card-panel red-text center-align">
    No sightings yet today. Get out there and see if you can spot a {{finch.name}}!
  </div>
  {% endif %} -->
  
  
  <div class="col s6">
    <table class="striped">
      <thead>
        <tr>
          <th><h3>Comments</h3></th>
        </tr>
      </thead>
      <tbody>
        {% for comment in opinion.comment_set.all %}
        <tr>
          <td>{{comment.content}} </br> - {{comment.author}} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems);
    console.log(elems)
  });
  </script>
  {% endblock %}