{% extends 'base.html' %} {% block content %}

<div class="container">
<h1>Opinion: {{ opinion.tldr }} </h1>
{% if opinion.personnel %}
<h3>{{ opinion.personnel }}</h3>
{% endif %}
<h3>{{ opinion.movie}}</h3>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content grey darken-3">
        <p>{{ opinion.content }}</p>
        <p>Date: {{ opinion.date }}</p>
        <!-- Possibility: {% if opinion.recent_edit %} -->
        <!-- <p>Edited: {{ opinion.recent_edit }}</p> -->
        <!-- {% endif %} -->

      </div>
    </div>
  </div>
  
</div>

<!-- IS THERE A WAY TO ADAPT THIS TO SAY NO COMMENTS YET:
  {% if finch.seen_today %}
  <div class="card-panel teal-text center-align">
    Nice! You saw a {{finch.name}} today.
  </div>
  {% else %}
  <div class="card-panel red-text center-align">
    No sightings yet today. Get out there and see if you can spot a {{finch.name}}!
  </div>
  {% endif %} -->
  
  <h3>Comments</h3>
  <div class="col s6">
    <table class="striped">
      <thead>
        <tr>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        {% for comment in opinion.comment_set.all %}
        <tr>
          <td>{{comment.content}} </br> - {{comment.author}} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
  
  {% endblock %}