{% extends 'base.html' %} {% block content %}

<h1>All Unpopular Opinions</h1>

<div class="container">
{% for opinion in opinions %}
  <div class="card">
    <div class="card-content grey-text text-lighten-5">
      {% if opinion.personnel %}
      <span class="card-title">{{ opinion.personnel }}</span>
      {% endif%}
<!-- might want to make this an else, and if it's about a person
make the movie name smaller -->
      <span class="card-title">{{ opinion.movie }}</span>
      <p>Opinion: {{ opinion.tldr }}</p>
    </div>
  </div>
</a>
</div>
{% endfor %} {% endblock %}