{% extends 'base.html' %} {% block content %}

<h1 class="center">All Unpopular Opinions</h1>

{% for opinion in opinions %}
<div class="container">
  <div class="card grey darken-3">
    <div class="card-content grey-text text-lighten-5">
      {% if opinion.personnel %}
      <span class="card-title">{{ opinion.personnel }}</span>
      {% endif%}
<!-- might want to make this an else, and if it's about a person
make the movie name smaller -->
      <span class="card-title">{{ opinion.movie }}</span>
      <p>Opinion: {{ opinion.tldr }}</p>
    </div>
  </div>
</div>
{% endfor %} {% endblock %}